@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
    background-color: #888;
    font-family: 'Orbitron', sans-serif;
}

table {
    background-color: #222;
    width: 295px;
    height: 325px;
    text-align: center;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

form{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

input {
    outline: 0;
    position: relative;
    top: 4px;
    border: 0;
    color: #495069;
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    box-shadow: none;
}

input:active {
    top: 5px;
    border: 0 solid #000;
    color: #495069;
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px 60px white;
}

#display {
    top: 4px;
    width: 275px;
    font-size: 26px;
    text-align: right;
    background-color: #bcbd95;
    float: left;
}

#display:active {
    top: 4px;
    width: 275px;
    font-size: 26px;
    text-align: right;
    background-color: #bcbd95;
    box-shadow: none;
}

.operator {
    top: 4px;
    box-shadow: none;
    background-color: #cee9ea;
    position: relative;
}

.operator:active {
    top: 5px;
    background-color: #cee9ea;
    box-shadow: 0 4px 60px #cee9ea;
}

#clear {
    float: left;
    position: relative;
    display: block;
    background-color: #ff9fa8;
    box-shadow: none;
}

#clear:active {
    float: left;
    position: relative;
    display: block;
    background-color: #ff9fa8;
    box-shadow: 0 4px 60px #ff9fa8;
}
        
        